/build/
**/build/
/build-logic/.gradle/
/build-logic/build/
/local.properties
/webview-*/build/
/.gradle/
/.idea/
/.kotlin/
/kotlin-js-store/
/sample-compose/jcef-bundle/
/sample-compose/hs_err_pid*.log
